h1{
    text-align: center;
    background-color: aqua;
    color:chocolate;
    border-style: solid;
    border-radius: 5px;
    border-color: black;
}
h2{
    color:blue;
    text-align: center;
    border-bottom-style: double;
    border-color: orange;
}
div{
    text-align: center;